.fadein-mt-0-1 {
  animation: fadein-mt-0 1s;
  -moz-animation: fadein-mt-0 1s; /* Firefox */
  -webkit-animation: fadein-mt-0 1s; /* Safari and Chrome */
  -o-animation: fadein-mt-0 1s; /* Opera */
}
.fadein-mt-0-2 {
  animation: fadein-mt-0 2s;
  -moz-animation: fadein-mt-0 2s; /* Firefox */
  -webkit-animation: fadein-mt-0 2s; /* Safari and Chrome */
  -o-animation: fadein-mt-0 2s; /* Opera */
}
.fadein-mt-0-3 {
  animation: fadein-mt-0 3s;
  -moz-animation: fadein-mt-0 3s; /* Firefox */
  -webkit-animation: fadein-mt-0 3s; /* Safari and Chrome */
  -o-animation: fadein-mt-0 3s; /* Opera */
}
.fadein-mt-0-4 {
  animation: fadein-mt-0 4s;
  -moz-animation: fadein-mt-0 4s; /* Firefox */
  -webkit-animation: fadein-mt-0 4s; /* Safari and Chrome */
  -o-animation: fadein-mt-0 4s; /* Opera */
}
.fadein-mt-0-5 {
  animation: fadein-mt-0 5s;
  -moz-animation: fadein-mt-0 5s; /* Firefox */
  -webkit-animation: fadein-mt-0 5s; /* Safari and Chrome */
  -o-animation: fadein-mt-0 5s; /* Opera */
}

@keyframes fadein-mt-0 {
  from {
    opacity:0;
    margin-top: 0%;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-moz-keyframes fadein-mt-0 { /* Firefox */
  from {
    opacity:0;
    margin-top: 0%;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-webkit-keyframes fadein-mt-0 { /* Safari and Chrome */
  from {
    opacity:0;
    margin-top: 0%;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}
@-o-keyframes fadein-mt-0 { /* Opera */
  from {
    opacity:0;
    margin-top: 0%;
  }
  to {
    opacity:1;
    margin-top: 0;
  }
}